.EventHeader{margin:8px 0;display:flex;flex-wrap:wrap;font-size:1.5rem;text-align:center;font-weight:700}.EventHeader.isVertical{text-align:left;flex-direction:column}.EventHeader>*{flex-grow:1;flex-basis:0px;text-overflow:ellipsis;white-space:nowrap}