

@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/variables";

// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//"", , , Calibri


body, html, #__next {
  background-color: $body;
  // min-height: 800px;
  // min-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-family: Microsoft JhengHei;
}

input[type='checkbox'] {
  line-height: 16px;
  vertical-align: middle;
  transform: scale(1.3);
  margin-right: 6px;
}
input[type='text']:not(.form-control-sm) {
  height: 38px;
}
input[type='text'].form-control-sm {
  height: 30px;
}

.sticky-table-table  {
  width: 100%;
}

.modal-dialog-centered {
  height: calc(100% - (.5rem * 2))
}

@media (min-width:576px) {
  .modal-dialog-centered {
    height: calc(100% - (1.75rem * 2))
  }
}

.modal-header {
  background-color: $master;
  color: $light;
  padding-top: 6px;
  padding-bottom: 6px;
  // background-color: lighten($body, 10%);
  :global(.close) {
    color: $light!important;
  }
}
.modal-body {
  position: relative;
  min-height: 150px;
  background-color: lighten($body, 10%);
  padding: 12px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.ModalCenterContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.modal-footer {
  justify-content: center;
  background-color: lighten($body, 10%);
}

.modal-full {
  width: 90vw!important;
  max-width: inherit;
}

.modal-header {
  .close {
    color: #fff;
    opacity: 1;
  }
}
