@font-face {
	font-family: "font1";
	src: url(./JetLinkThinMauKai.eot?) format("eot"),
		 url(./JetLinkThinMauKai.woff2) format("woff2"),
		 url(./JetLinkThinMauKai.woff) format("woff"),
		 url(./JetLinkThinMauKai.ttf) format("truetype");
}
